body {
  margin: 20px 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 16px;
}

.wrapper {
  display: flex;
  height: 60px;
  background-color: green;
  margin-bottom: 20px;
}

.redExample {
  flex: 1;
  background-color: red;
}

.blueExample {
  flex: 1;
  background-color: blue;
}

.emptyExample2 {
  display: flex;
  flex: 1;
  flex-direction: row-reverse;
  background-color: green;
}

.blueExample2 {
  width: 10%;
  background-color: blue;
}

.little_red {
  flex: 1;
  background-color: red;
}

.little_blue {
  flex: 1;
  background-color: blue;
}

.big_transparent {
  flex: 8;
  background-color: transparent;
}

.big_red {
  flex: 9;
  background-color: red;
}

.little_blue {
  flex: 1;
  background-color: blue;
}

.little_red_square {
  width: 40px;
  height: 40px;
  background-color: red;
  margin: auto;
}

.blueRectangle {
  width: 70px;
  background-color: blue;
}

.stripContainer {
  display: flex;
  flex: 9;
  background-color: blue;
}

.blueStrip {
  flex: 1;
  background-color: green;
  margin-top: 20px;
  margin-bottom: 20px;
}

.transparentStrip {
  flex: 0;
  background-color: transparent;
}

.orangeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex: 1;
}

.stableOrangeRectangle {
  width: 120px;
  background-color: orange;
}

.unstableOrangeRectangle {
  flex: 1;
  background-color: orange;
}

.transparentRectangle {
  width: 40px;
  background-color: transparent;
}
